/* Multiple Selectors  */
h1,
h2,
h3,
h4,
li {
  font-family: sans-serif;
}
/* Element Selector  */
h1 {
  color: blue;

  text-transform: uppercase;
  font-style: italic;
}
/* Decendent selector  */
/* article header p {
  font-style: italic;
} */

/* Id selectors  */
#author {
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

li {
  font-size: 20px;
}

/* Decendent Selector  */
/* footer p {
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

/* Class Selector  */

.related-author {
  font-weight: bold;
}
.related-list {
  list-style: none;
}
