/* Multiple Selectors  */
* {
}

body {
  border-top: 10px solid #1098ad;
  font-family: sans-serif;
  color: #444;
}

/* h1,
h2,
h3,
h4,
li {
  
} */
.main-header {
  background-color: #f7f7f7;
}
/* Element Selector  */
h1 {
  text-transform: uppercase;
  font-style: italic;
  /* color: #1098ad; */
}
h1,
h2,
h3 {
  color: #1098ad;
}
/* Decendent selector  */
/* article header p {
  font-style: italic;
} */

/* Id selectors  */
#author {
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
}
li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
}

li {
  font-size: 20px;
}

/* HyperLinks  */

a {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}
/* Hyperlinks  */
a:active {
  background-color: #000;
  font-style: italic;
}

/* Decendent Selector  */
/* footer p {
  font-size: 16px;
} */

#copyright {
  font-size: 16px;
}

/* Class Selector  */

.related-author {
  font-weight: bold;
}
.related-list {
  list-style: none;
}
