.related-post {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}
.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}
.main-header {
  display: flex;
  justify-content: space-between;
}
.author-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.author {
  margin-bottom: 0;
}
.row {
  display: flex;
  gap: 75px;
}
article {
  flex: 1;
}
aside {
  flex: 0 0 300px;
  align-self: start;
}
